.search__toggle {
  display: flex;
  align-items: center;
}

.search__check {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  cursor: pointer;
}

.search__checkbox {
  display: none;
}

.search__checkbox:checked + .search__slider {
  background-color: #2be080;
}

.search__checkbox:checked + .search__slider::before {
  transform: translateX(15px);
  background-color: #343434;
}

.search__slider {
  position: absolute;
  inset: 0;
  background-color: #343434;
  border-radius: 20px;
  transition: 0.6s;
  transform: scale(-1, -1);
}

.search__slider::before {
  position: absolute;
  content: '';
  height: 15px;
  width: 15px;
  left: 2px;
  top: 1.5px;
  border-radius: 50%;
  background-color: #2be080;
  border: 1px solid #ffffff;
}

.search__short {
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  margin-left: 14px;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 900px) {
  .search__toggle {
    flex-direction: row-reverse;
  }
  .search__short {
    margin-right: 16px;
  }
}

@media screen and (max-width: 420px) {
  .search__toggle {
    justify-content: center;
    margin-top: 10px;
    padding-right: 14px;
  }
  .search__short {
    font-size: 11px;
    line-height: 18px;
    margin-right: 13px;
  }
}
